$themes: (
    theme-default: (
        primary-color: #00C8B3,
        secondary-color: #FFFFFF,
        body: (
            background-color: #F9F9F9,
            color: #0D0D0D
        ),
        input: (
            color: #333333,
            background-color: #FFFFFF,
            border-color: #DDDDDD,
            error: (
                color:#eb4a46
            )
        ),
        button: (
            background-color: #00C8B3,
            color: #FFFFFF,
            hover: (
                background-color: lighten(#00C8B3, 5%)
            )
        ),
        span: (
            error: (
                color: #eb4a46
            )
        ),
        table: (
            border-color: #EFEEED,
            hover: (
                background-color: darken(#FFFFFF, 5%),
                color: #EFEEED
            )
        ),
        i: (
            default: (
                color: #606060
            ),
            save: (
                color: #4caf50
            ),
            cancel: (
                color: #F44336
            )
        ),
        sidebar: (
            background-color: #FFFFFF,
            active: (
                background-color: darken(#FFFFFF, 10%),
                hover: (
                    background-color: darken(#FFFFFF, 15%)
                )
            ),
            hover: (
                background-color: darken(#FFFFFF, 5%) 
            )
        ),
        success: (
            background-color: #4caf50,
            color: #FFFFFF
        ),
        switch: (
            on-color: #00C8B3,
            off-color: lighten(#282828, 15%),
            background-color: darken(#FFFFFF, 15%)
        ),
        dropdown: (
            background-color: #FFFFFF,
            active: (
                background-color: darken(#FFFFFF, 10%),
                hover: (
                    background-color: darken(#FFFFFF, 15%)
                )
            ),
            hover: (
                background-color: darken(#FFFFFF, 5%)
            )
        )
    ),
    theme-dark: (
        primary-color: #00C8B3,
        secondary-color: #FFFFFF,
        body: (
            background-color: #1F1F1F,
            color: #E1E1E1
        ),
        input: (
            color: #FFFFFF,
            background-color: #393F44,
            border-color: #DDDDDD,
            error: (
                color:#CF6679
            )
        ),
        button: (
            background-color: #00C8B3,
            color: #FFFFFF,
            hover: (
                background-color: lighten(#00C8B3, 5%)
            )
        ),
        span: (
            error: (
                color: #CF6679
            )
        ),
        table: (
            border-color: #EFEEED,
            hover: (
                background-color: lighten(#282828, 5%),
                color: #EFEEED
            )
        ),
        i: (
            default: (
                color: #FFFFFF
            ),
            save: (
                color: #4caf50
            ),
            cancel: (
                color: #F44336
            )
        ),
        sidebar: (
            background-color: #282828,
            active: (
                background-color: lighten(#282828, 10%),
                hover: (
                    background-color: lighten(#282828, 15%)
                )
            ),
            hover: (
                background-color: lighten(#282828, 5%)
            )
        ),
        success: (
            background-color: #4caf50,
            color: #FFFFFF
        ),
        switch: (
            on-color: #00C8B3,
            off-color: lighten(#282828, 5%),
            background-color: lighten(#282828, 15%)
        ),
        dropdown: (
            background-color: #1F1F1F,
            active: (
                background-color: lighten(#1F1F1F, 10%),
                hover: (
                    background-color: lighten(#1F1F1F, 15%)
                )
            ),
            hover: (
                background-color: lighten(#1F1F1F, 5%)
            )
        )
    ),
    theme-red: (
        primary-color: #D50000,
        secondary-color: #FFFFFF,
        body: (
            background-color: #FF5252,
            color:#FFFFFF
        ),
        input: (
            color: #FFFFFF,
            background-color: #393F44,
            border-color: #DDDDDD,
            error: (
                color:#CF6679
            )
        ),
        button: (
            background-color: #D50000,
            color: #FFFFFF,
            hover: (
                background-color: lighten(#D50000, 5%)
            )
        ),
        span: (
            error: (
                color: #CF6679
            )
        ),
        table: (
            border-color: #EFEEED,
            hover: (
                background-color: lighten(#FF5252, 5%),
                color: #EFEEED
            )
        ),
        i: (
            default: (
                color: #FFFFFF
            ),
            save: (
                color: #4caf50
            ),
            cancel: (
                color: #F44336
            )
        ),
        sidebar: (
            background-color: #FF5252,
            active: (
                background-color: lighten(#FF5252, 10%),
                hover: (
                    background-color: lighten(#FF5252, 15%)
                )
            ),
            hover: (
                background-color: lighten(#FF5252, 5%)
            )
        ),
        success: (
            background-color: #4caf50,
            color: #FFFFFF
        ),
        switch: (
            on-color: #D50000,
            off-color: lighten(#282828, 5%),
            background-color: lighten(#282828, 15%)
        ),
        dropdown: (
            background-color: #FF5252,
            active: (
                background-color: lighten(#FF5252, 10%),
                hover: (
                    background-color: lighten(#FF5252, 15%)
                )
            ),
            hover: (
                background-color: lighten(#FF5252, 5%)
            )
        )
    ),
    theme-green: (
        primary-color: #00C853,
        secondary-color: #FFFFFF,
        body: (
            background-color: #81C784,
            color: #FFFFFF
        ),
        input: (
            color: #FFFFFF,
            background-color: #393F44,
            border-color: #DDDDDD,
            error: (
                color:#CF6679
            )
        ),
        button: (
            background-color: #00C853,
            color: #FFFFFF,
            hover: (
                background-color: lighten(#00C853, 5%)
            )
        ),
        span: (
            error: (
                color: #CF6679
            )
        ),
        table: (
            border-color: #EFEEED,
            hover: (
                background-color: lighten(#81C784, 5%),
                color: #EFEEED
            )
        ),
        i: (
            default: (
                color: #FFFFFF
            ),
            save: (
                color: #4caf50
            ),
            cancel: (
                color: #F44336
            )
        ),
        sidebar: (
            background-color: #81C784,
            active: (
                background-color: lighten(#81C784, 10%),
                hover: (
                    background-color: lighten(#81C784, 15%)
                )
            ),
            hover: (
                background-color: lighten(#81C784, 5%)
            )
        ),
        success: (
            background-color: #4caf50,
            color: #FFFFFF
        ),
        switch: (
            on-color: #00C853,
            off-color: lighten(#282828, 5%),
            background-color: lighten(#282828, 15%)
        ),
        dropdown: (
            background-color: #81C784,
            active: (
                background-color: lighten(#81C784, 10%),
                hover: (
                    background-color: lighten(#81C784, 15%)
                )
            ),
            hover: (
                background-color: lighten(#81C784, 5%)
            )
        )
    ),
    theme-blue: (
        primary-color: #2962FF,
        secondary-color: #FFFFFF,
        body: (
            background-color: #448AFF,
            color:#FFFFFF
        ),
        input: (
            color: #FFFFFF,
            background-color: #393F44,
            border-color: #DDDDDD,
            error: (
                color:#CF6679
            )
        ),
        button: (
            background-color: #2962FF,
            color: #FFFFFF,
            hover: (
                background-color: lighten(#2962FF, 5%)
            )
        ),
        span: (
            error: (
                color: #CF6679
            )
        ),
        table: (
            border-color: #EFEEED,
            hover: (
                background-color: lighten(#448AFF, 5%),
                color: #EFEEED
            )
        ),
        i: (
            default: (
                color: #FFFFFF
            ),
            save: (
                color: #4caf50
            ),
            cancel: (
                color: #F44336
            )
        ),
        sidebar: (
            background-color: #448AFF,
            active: (
                background-color: lighten(#448AFF, 10%),
                hover: (
                    background-color: lighten(#448AFF, 15%)
                )
            ),
            hover: (
                background-color: lighten(#448AFF, 5%)
            )
        ),
        success: (
            background-color: #4caf50,
            color: #FFFFFF
        ),
        switch: (
            on-color: #2962FF,
            off-color: lighten(#282828, 5%),
            background-color: lighten(#282828, 15%)
        ),
        dropdown: (
            background-color: #448AFF,
            active: (
                background-color: lighten(#448AFF, 10%),
                hover: (
                    background-color: lighten(#448AFF, 15%)
                )
            ),
            hover: (
                background-color: lighten(#448AFF, 5%)
            )
        )
    )
);